*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1b2328;
  color: #e5faff;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../public/images/background/background-elements.webp);
  background-repeat: no-repeat;
  background-position: left -300px top -230px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  z-index: -1;
}

a {
  text-decoration: none;
  color: inherit;
}
